<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<title>게시판 목록</title>
</head>
<body>
<div class="container">
<h2>Board List</h2>
<div class="table-responsive">
<a> <span>전체 게시글 수 : </span> <span th:text="${boardCount}"></span></a>
<table class="table">
	<tr>
		<th>boardNo</th>
		<th>boardTitle</th>
		<th>boardUser</th>
		<th>boardDate</th>
	</tr>
	<tr th:each="l : ${list}">
		<td th:text="${l.boardNo}"></td>
		<td><a th:href="@{/boardView(boardNo=${l.boardNo})}" th:text="${l.boardTitle}"></a></td>
		<td th:text="${l.boardUser}"></td>
		<td th:text="${l.boardDate}"></td>
	</tr>	
</table>
<table class="table">
	<tr>
		<td><a th:href="@{/boardList}" ><button th:text="처음으로" type="button" class="btn btn-outline-primary"></button></a></td>
		<td><a th:if="${currentPage > 1}" th:href="@{/boardList(currentPage=${currentPage-1})}" ><button th:text="이전" type="button" class="btn btn-outline-info"></button></a>	</td>
		<td th:each="p : ${pageList}">
		<th:block th:if="${lastPage >= p}">
		<a th:if="${currentPage == p}"><button th:text="${p}" type="button" class="btn btn-outline-light text-dark"></button> </a>
		<a th:unless="${currentPage == p}" th:href="@{/boardList(currentPage=${p})}" ><button th:text="${p}" type="button" class="btn btn-outline-secondary"></button></a>
		</th:block>
		</td>
		<td><a th:if="${lastPage > currentPage}" th:href="@{/boardList(currentPage=${currentPage+1})}" ><button th:text="다음" type="button" class="btn btn-outline-info"></button></a></td>
		<td><a th:href="@{/boardList(currentPage=${lastPage})}" ><button th:text="끝으로" type="button" class="btn btn-outline-primary"></button></a><br/></td>
	</tr>
</table>
		<a th:href="@{/boardAdd}" ><button th:text="글등록하기" type="button" class="btn btn-primary"></button></a>
</div>
</div>
</body>
</html>

