<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<title>게시글 상세 화면</title>
</head>
<body class="container">
<h2>Board 상세화면</h2>
<a th:href="@{/boardList}"><button th:text="글목록보기" type="button" class="btn btn-primary"></button></a>
<div class="form-group">
	<table class="table">
		<tr>
			<th th:text="boardNo"></th>
			<td><input th:value="${board.boardNo}" type="text" name="boardNo" size="35" readonly="readonly" class="form-control form-control"></td>
		</tr>
		<tr>
			<th th:text="boardTitle"></th>
			<td><input th:value="${board.boardTitle}" type="text" name="boardTitle" size="35" readonly="readonly" class="form-control form-control"></td>
		</tr>
		<tr>
			<th th:text="boardContent"></th>
			<td><textarea  name="boardContent" rows="20" cols="34" th:text="${board.boardContent}" readonly="readonly" class="form-control form-control"></textarea>
			</td>
		</tr>
		<tr>
			<th th:text="Name"></th>
			<td><input th:value="${board.boardUser}" type="text" name="boardUser" size="35" readonly="readonly" class="form-control form-control"></td>
		</tr>
		<tr>
			<th th:text="boardDate"></th>
			<td><input th:value="${board.boardDate}" type="text" name="boardDate" size="35" readonly="readonly" class="form-control form-control"></td>
		</tr>
		<tr>
			<th></th>
			<th>
				<a th:href="@{/boardUpdate(boardNo=${board.boardNo})}" ><button th:text="수정하러가기" class="btn btn-primary"></button></a>
				<a th:href="@{/boardDelete(boardNo=${board.boardNo})}" ><button th:text="삭제하러가기" class="btn btn-primary"></button></a>
				<a th:href="@{/boardAdd}" ><button th:text="새글쓰러가기" class="btn btn-primary"></button></a> 
			</th>
		</tr>	
	</table>
</div>
</body>
</html>